body {
  --main-bg: #f5f4fd;
  --item-hover: #f9f8fb;
  --main-container-bg: #fff;
  --container-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --text-color: #00071d;
}

body {
  background-color: var(--main-bg);
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media screen and (max-height: 520px) {
  .sidebar-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.sidebar-container {
  background-color: var(--main-container-bg);
  box-shadow: var(--container-shadow);
  border-radius: 10px;
  padding: 16px;
  transition: width 0.3s ease-in-out;
  position: relative;
  width: 240px;
  height: 100vh;
  max-height: 960px;
}
.sidebar-container.shrink {
  width: 92px;
}

.sidebar-viewButton {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  right: -16px;
  top: 4px;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: #000;
  box-shadow: var(--container-shadow);
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-viewButton:hover {
  opacity: 0.8;
}
.sidebar-viewButton svg {
  width: 16px;
}
.shrink .sidebar-viewButton {
  transform: rotatey(-180deg);
}
.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 12px 0 0;
}
.sidebar-listItem {
  color: var(--text-color);
  display: flex;
  align-items: center;
  animation: fadeInItem 0.6s forwards;
  transition: background 0.2s ease-in;
  transform: translatex(-16px);
  opacity: 0;
  padding: 8px 0;
  position: relative;
}
.shrink .sidebar-listItem span {
  visibility: hidden;
}
.sidebar-listItem.active button {
  background-color: var(--main-bg);
}
.sidebar-listItem:not(.active) button:hover {
  background-color: var(--item-hover);
}
.sidebar-listItem:hover .sidebar-listItemText {
  display: inline-block;
  opacity: 1;
  left: calc(100% + 8px);
  visibility: visible;
  color: var(--text-color);
}
.sidebar-listItem + li {
  border-top: 1px solid var(--item-hover);
}

.sidebar-listIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
  flex-shrink: 0;
}
.shrink .sidebar-listIcon {
  margin-right: 0;
}
.sidebar-profileSection {
  display: flex;
  align-items: center;
  margin-top: auto;
  border: 1px solid var(--item-hover);
  padding: 8px 10px;
  border-radius: 28px;
  overflow: hidden;
  height: 60px;
  flex-shrink: 0;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}
.sidebar-profileSection:hover {
  background-color: var(--item-hover);
}
.sidebar-profileSection img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  flex-shrink: 0;
}
.sidebar-profileSection span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}
.shrink .sidebar-profileSection span {
  display: none;
}
.shrink .sidebar-profileSection {
  border-radius: 50%;
}
.sidebar-listItemText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}
.shrink .sidebar-listItemText {
  position: absolute;
  padding: 8px;
  left: 100%;
  opacity: 0;
  background-color: var(--secondary-bg);
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.sidebar-listItem:nth-child(n + 0) {
  animation-delay: 0s;
}
.sidebar-listItem:nth-child(n + 1) {
  animation-delay: 0.2s;
}
.sidebar-listItem:nth-child(n + 2) {
  animation-delay: 0.4s;
}
.sidebar-listItem:nth-child(n + 3) {
  animation-delay: 0.6s;
}
.sidebar-listItem:nth-child(n + 4) {
  animation-delay: 0.8s;
}
.sidebar-listItem:nth-child(n + 5) {
  animation-delay: 1s;
}
@keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}
